﻿@{ ViewData["Title"] = "Площадь сектора круга"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>square</title>
</head>
<body>
    <h1>Площадь сектора круга</h1>
    <div>
        <figure>
            <img src="https://allcalc.ru/images/ploshadksectora1.png" alt="Результат" />
        </figure>
        <h1>S=1/2*R*l</h1>
        <form action="" method="post">
            <p>Длина радиуса (R)</p>
            <input type="number" name="R" placeholder="Длина радиуса (R)" value="" />
            <br />
            <p>Длина дуги (l)</p>
            <input type="number" name="l" placeholder="Длина дуги (l)" value="" />
            <br />
            <button id="button" class="btn-danger">Рассчитать</button>
            <br />

            <p>
                <h3>
                    Результат: @ViewBag.Result
                </h3>
            </p>
        </form>
    </div>

    <style>
        image {
            width: 452px;
            height: 236px;
            position: relative;
            top: 20px;
            bottom: 20px;
            margin-bottom: 10px;
        }

        * {
            text-align: center;
        }

        #button {
            margin-top: 10px;
        }
    </style>
</body>
</html>

